
body {
    background: grey;
}

.content {
    background: green;
    width: 800px;
    margin: auto;
    padding: 20px;

}

.wrapper {
    position: relative;
}

.content, .top_content, .vertical {
    border-radius: 20px;
}
.top_content {
    margin: auto;
    overflow-x: scroll;
    background: gray;
    white-space: nowrap;
}
.vertical {
    display: inline-block;
    margin: 10px;
    width: 200px;
    height: 500px;
    border: 3px solid black;
    background: saddlebrown;
    overflow-y: scroll;
    padding-right: 20px;
}
/*Маленькі горизонтальні блоки всередині вертигального*/
.litle_block {
    width: 100%;
    height: 50px;
    background: yellow;
    margin: 10px;
    overflow: auto;
    border-radius: 25px;
}




/* Стилізація скролл бара*/

::-webkit-scrollbar-button {
    background-repeat:no-repeat;
    width:15px;
    height:11px;

}

::-webkit-scrollbar-track {
    background-color:#32312e;
    box-shadow:0px 0px 5px #000 inset;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background-color:#ffcb17;
    box-shadow:0px 1px 1px #fff inset;
    background-image:url('https://yraaa.ru/_pu/24/59610063.png');
    background-position:center;
    background-repeat:no-repeat;
}

::-webkit-resizer{
    background-repeat:no-repeat;
    width:7px;
    height:0px

}

::-webkit-scrollbar{
    width: 11px;

}
/* Стилізація скролл бара*/


/*МЕНЮ POSITION FIXED*/
.background_fixed_menu {
    position: fixed;
    top: 0;
    right: 0;
    background: black;
    border-radius: 15px;
}
.p_fixed {
    height: 248px;
    top: 0;
    right: 0;
    overflow-y: scroll;
    margin: 10px;

}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.var_nav {
    position: relative;
    background: saddlebrown;
    width: 200px;
    height: 70px;
    margin-bottom: 5px;
}
.link_bg {
    width: 70px;
    height: 70px;
    position: absolute;
    background: green;
    color: #ffffff;
    z-index: 2;
}
.link_bg i {
    position: relative;
}
.link_title {
    position: absolute;
    width: 100%;
    z-index: 3;
    color: #fff;
}
.link_title:hover .icon {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
}
.var_nav:hover .link_bg {
    width: 100%;
    background: yellow;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
/* Закоментував ссилки .var_nav a:hover a {
    font-weight: bold;
    transition: all .5s ease-in-out;
}*/
.icon {
    position: relative;
    width: 70px;
    height: 70px;
    text-align: center;
    color: #fff;
    transition: all .5s ease-in-out;
    float: left;
}
.icon i {
    top: 22px;
    position: relative;
}

.var_nav, .link_bg, .background_fixed_menu {
    border-radius: 35px;
}

/* Закоментував ссилки a {
    display: block;
    position: absolute;
    float: left;
    font-family: Arial;
    color: #fff;
    text-decoration: none;
    width: 100%;
    height: 70px;
    text-align: center;
}*/
span {
    margin-top: 25px;
    display: block;
}

/*МЕНЮ POSITION FIXED*/











